@page
@model BugTracker.Pages.Bugs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bug</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.creationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.creationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.dueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.dueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.Assignee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.Assignee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.PriorityLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.PriorityLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.Reporter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.Reporter)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bug.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
